.navbar {
  background-color: #202020 !important;
}

.nav-link {
  color: #fff !important;
  font-size: 16px;
}

.navbar-brand {
  color: #fff !important;
  font-size: 22px;
  padding: 5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content {
  padding-top: 85px;
}

.footer {
  background-color: #9b9b9b;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
